<p id="notice"><%= notice %></p>

<p>
  <strong>Property name:</strong>
  <%= @property.property_name %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @property.rent %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>Age building:</strong>
  <%= @property.age_building %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @property.remarks %>
</p>

<% @stations.each do |station| %>
  <% if @property.stations.any? %>
    <p>
      <strong>route_name:</strong>
      <%= station.route_name %>
    </p>
    <p>
      <strong>station_name</strong>
      <%= station.station_name %>
    </p>
    <p>
      <strong>minutes_foot</strong>
      <%= station.minutes_foot %>
    </p>
  <% end %>
<% end %>

<%= link_to 'Back', properties_path %>
<%= link_to 'Edit', edit_property_path(@property) %> |
